<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>


	<display-name>ISPyB</display-name>
	<description>ISPyB Web Application</description>

	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>resteasy.providers</param-name>
		<param-value>
			io.swagger.jaxrs.listing.ApiListingResource,
			io.swagger.jaxrs.listing.SwaggerSerializers,
			ispyb.ws.rest.mx.AutoprocintegrationRestWebService,
			ispyb.ws.rest.mx.CrystalRestWebService,
			ispyb.ws.rest.mx.DataCollectionRestWebService,
			ispyb.ws.rest.mx.EnergyScanRestWebService,
			ispyb.ws.rest.mx.ImageWebService,
			ispyb.ws.rest.mx.PhasingRestWebService,
			ispyb.ws.rest.mx.ProteinRestWebService,
			ispyb.ws.rest.mx.SampleRestWebService,
			ispyb.ws.rest.mx.WorkflowRestWebService,
			ispyb.ws.rest.mx.XFEFluorescenceSpectrumRestWebService,
			ispyb.ws.rest.saxs.BufferRestWebService,
			ispyb.ws.rest.saxs.DataCollectionRestWebService,
			ispyb.ws.rest.saxs.ExperimentRestWebService,
			ispyb.ws.rest.saxs.FrameRestWebService,
			ispyb.ws.rest.saxs.MacromoleculeRestWebService,
			ispyb.ws.rest.saxs.MeasurementRestWebService,
			ispyb.ws.rest.saxs.ModelingRestWebService,
			ispyb.ws.rest.saxs.SaxsRestWebService,
			ispyb.ws.rest.saxs.SpecimenRestWebService,
			ispyb.ws.rest.saxs.StatsRestWebService,
			ispyb.ws.rest.saxs.StockSolutionRestWebService,
			ispyb.ws.rest.saxs.SubtractionRestWebService,
			ispyb.ws.rest.proposal.DewarRestWebService,
			ispyb.ws.rest.proposal.ProposalRestWebService,
			ispyb.ws.rest.proposal.SessionRestWebService,
			ispyb.ws.rest.proposal.ShippingRestWebService,
		</param-value>
	</context-param>
<!--
	<servlet>
		<servlet-name>SwaggerBootstrap</servlet-name>
		<servlet-class>ispyb.ws.Bootstrap</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
-->
	<servlet>
		<servlet-name>Jersey2Config</servlet-name>
		<servlet-class>io.swagger.jaxrs.config.DefaultJaxrsConfig</servlet-class>
		<init-param>
			<param-name>api.version</param-name>
			<param-value>5.4.3</param-value>
		</init-param>
		<init-param>
			<param-name>swagger.api.basepath</param-name>
			<param-value>http://192.168.30.200:8080/ispyb/ispyb-ws/rest</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<!--<filter>-->
		<!--<filter-name>CAS Authentication Filter</filter-name>-->
		<!--<filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>-->
		<!--<init-param>-->
			<!--<param-name>casServerLoginUrl</param-name>-->
			<!--<param-value>http://192.168.33.12:8080/cas/login</param-value>-->
		<!--</init-param>-->
		<!--<init-param>-->
			<!--<param-name>serverName</param-name>-->
			<!--<param-value>http://192.168.30.200:8080/</param-value>-->
		<!--</init-param>-->
	<!--</filter>-->

	<!--<filter-mapping>-->
		<!--<filter-name>CAS Authentication Filter</filter-name>-->
		<!--<url-pattern>/*</url-pattern>-->
	<!--</filter-mapping>-->

	<!--<filter>-->
		<!--<filter-name>CAS Validation Filter</filter-name>-->
		<!--<filter-class>org.jasig.cas.client.validation.Cas30ProxyReceivingTicketValidationFilter</filter-class>-->
		<!--<init-param>-->
			<!--<param-name>casServerUrlPrefix</param-name>-->
			<!--<param-value>http://192.168.33.12:8080/cas</param-value>-->
		<!--</init-param>-->
		<!--<init-param>-->
			<!--<param-name>serverName</param-name>-->
			<!--<param-value>http://192.168.30.200:8080/</param-value>-->
		<!--</init-param>-->
	<!--</filter>-->

	<!--<filter-mapping>-->
		<!--<filter-name>CAS Validation Filter</filter-name>-->
		<!--<url-pattern>/*</url-pattern>-->
	<!--</filter-mapping>-->

</web-app>
